# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.swp
*.vcxproj
*.vcxproj.*
cppcheck.xml

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders to ignore
build
doc
x86
x64
Debug
Release
.*

compile_commands.json

